MONGODB_URL=
DATABASE_NAME=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

# Authentication Configuration
SECRET_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=
ACCESS_TOKEN_EXPIRE_MINUTES=20160

FRONTEND_URL=